*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}



.flexbox {
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: 768px;
    height: 100vh;

    overflow: hidden;

    margin: 0 auto;
    padding: 15px;
}

.flexbox .board {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 300px;

    background-color: #313131;
    
    padding: 15px;

}

.flexbox .board .card {
    padding: 15px 25px;
    background-color: #f3f3f3;

    cursor: pointer;
    margin-bottom: 15px;
}


#footerNav{
    overflow: hidden;
  }
  #root{
    height: 10%;
    width: auto;
    margin: auto;
    margin-bottom: auto;
    padding-bottom: 10%;
    background-color: white;
    overflow: hidden;
  }

  .card{
    margin-bottom: 10px;
  }
  .TaskForm{
    text-emphasis-color: white;
  }

.CompanyDetails{
  overflow: auto;
}
.companyText{
  text-align: left;
  float: left;
}
.companyText dt{
  font-weight: bold;
}
.companyPicture{
  display: block;
  float: right;
}

.card{
  border-radius: 5px;
  background-color: lightgray;
  text-align: left;
}

.topDetails{
  overflow: hidden;
  border-bottom-style: solid;
  border-color: white;
}

.cardID{
  float: left;
}

.dueDate{
  float: right;
}